[Desktop Entry]
Name=Crispyroll
Exec=crispyroll %U
Terminal=false
Type=Application
Icon=io.github.khSafvan.crispyroll
StartupWMClass=Crispyroll
GenericName=Crispyroll HTPC
Categories=AudioVideo;
Keywords=Crispyroll;Crunchyroll;Anime;HTPC;
Comment=Unofficial Crunchyroll HTPC client for Linux
